@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: "0";
  font-family: "Montserrat", sans-serif;
}

.PhoneInputInput:focus-visible {
  outline: none;
  border: none;
}
